header{
    margin: 20px 200px 20px 200px;
    border: 2px solid black;
    background-color: rgb(112, 222, 12);
    border-radius: 20px;
}

body{
    text-align: center;
    background-color: rgb(220, 122, 221);
    margin-left: 10px;
    margin-left: 10px;
}


h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    color: brown;
}
p{
    font-family: serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}